// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
.custom-navbar {
    background-color: #101e46; // حط اللون اللي انت عايزه
}
.sidebar-sticky {
    position: sticky;
    top: 20px;   // المسافة من فوق
}